body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.time-page-header {
  text-align:right;
}

.time-hover-tools {
  display:none;
  position: absolute;
  right: 10px;
  top: 0px;
}

a:hover .time-hover-tools {
  display: block;
}

.time-hover-tools > div {
  color: #333;
  display: inline-block;
  padding: 3px;
  border-radius: 4px;
}

.time-hover-tools > div:hover {
  color: #ddd;
  background-color: #333;
}

.time-modal-container {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  text-align:center;
  padding-top: 4%;
}

.time-modal-content {
  padding: 15px;
  z-index: 10001;
  background-color: #fff;
  text-align:left;
  max-width: 800px;
  margin:auto;
}

.time-modal-close {
  color: grey;
  text-align:right;
}

.time-modal-close > i:hover {
  color: #ccc;
  cursor:pointer;
}

.time-color-box {
  min-width: 25px;
  min-height: 25px;

  max-width: 25px;
  max-height: 25px;

  border-radius: 25px;
  background-color: #000;

  text-align:center;
  color: #fff;
  padding-top: 3px;
}

.time-timer-buttons {
  display: inline-block;
}

.well, .input-group {
  width: 100%;
}

.input-group button {
  text-align: left;
}

.time-setting-item {
  margin-bottom: 25px;
}

.time-hover-show-p:hover p {
  /*display:block !important;*/
}

.time-landing-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /*background: url('/src/images/bg.png');*/
  /*background-size: cover;*/
}

.panel {
  background-color: rgba(255,255,255,0.4) !important;
}

.page-host {
  background: url('/images/bg.png');
  background-size: cover;
  background-repeat: none;
}

.time-fancy-bg {
  background: url('/images/bg.png');
  background-size: cover;
  background-repeat: none;
}

.time-landing-content {
  color: #eee;
  font-size: 5em;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.time-landing-tagline {
  font-size: 0.75em;
}

.time-landing-start {
  font-size: 0.4em !important;
}

.time-sub-well {
  border-top: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  background-color: rgba(255,255,255,0.4) !important;
}




































